@import '/styles/variables.scss'; 

.header {
  .computerImage {

  }
  .devNameContainer {
    height: 72px;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $box-fill;
    border-radius: 8px;
  }

  .devName {
    font-size: 32px;
    color: rgba(248, 248, 242, 0.6);
  }
}