@import '/styles/variables.scss';

.socialMedia {
  width: fit-content;
  display: flex;
  margin: 30px auto;
  gap: 24px;

  .link {
    height: 72px;
    width: 204px;
    display: flex;
    padding: 0 12px;
    justify-content: space-between;
    align-items: center;

    background-color: $box-fill;
    border-radius: 8px;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      background-color: rgba(#000000, 0.5);
    }

    .linkName {
      font-size: 32px;
      color: $white-opaque;
    }

  }
}