@import '/styles/variables.scss';

.titleText {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  .title {
    font-size: 38px;
    color:$dracula-cyan;
    margin-bottom: 30px;
  }

  .text {
    font-size: 32px;
    color: $dracula-foreground;
    text-align: center;
  }

}